#For UI
streamlit

# For API
fastapi
python-multipart

uvicorn


# LangChain & AI
langchain
langchain-core
langchain-qdrant
langchain-community
langchain-text-splitters
langchain-google-genai
langchain_openai
langgraph

#
docling
langchain-docling


passlib[bcrypt]

python-dotenv
requests
pydantic

pytest

#JWT
PyJWT

tiktoken

rank_bm25

sqlalchemy
psycopg2-binary
sqlglot

# Redis
upstash-redis

#cohere re-ranking
cohere
langchain-cohere